/*
 * Font Name: Outfit
 * Source: https://github.com/Outfitio/Outfit-Fonts
 * Author: Smartsheet, Inc (andy@smartsheet.com), Rodrigo Fuenzalida (hello@rfuenzalida.com)
 * Contributors: https://github.com/Outfitio/Outfit-Fonts/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/
/*
 * Font Name: Young Serif
 * Source: https://github.com/noirblancrouge/YoungSerif
 * Author: NoirBlancRouge, Bastien Sozeau (contact@noirblancrouge.com)
 * Contributors: https://github.com/noirblancrouge/YoungSerif/graphs/contributors?all=1
 * License: SIL Open Font License 1.1
*/

/* Static font fallback for older browsers */
@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-static";
  src: url("../assets/fonts/outfit/static/Outfit-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "YoungSerif-static";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
}

/* Variable font for modern browsers */
@font-face {
  font-family: "Outfit-variable";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --c-white: oklch(100% 0.00011 271.152);
  --c-stone-100: oklch(93.148% 0.02338 69.503);
  --c-stone-600: oklch(46.164% 0.01761 70.588);
  --c-stone-900: oklch(29.995% 0.00469 39.091);
  --c-brown-800: oklch(46.724% 0.09184 38.302);
  --c-rose-50: oklch(97.931% 0.01254 344.984);
  --c-rose-800: oklch(41.379% 0.12208 354.705);

  --font-static-outfit: "Outfit-static", sans-serif;
  --font-static-youngserif: "YoungSerif-static", serif;
  --font-variable-outfit: "Outfit-variable", sans-serif;

  --fs-12: calc(12 / 16 * 1rem);
  --fs-14: calc(14 / 16 * 1rem);
  --fs-20: calc(20 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);

  --fw-black: 900;
  --fw-extra-bold: 800;
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;
  --fw-extra-light: 200;
  --fw-thin: 100;

  --spacing-6: calc(6 / 16 * 1rem);
  --spacing-10: calc(10 / 16 * 1rem);
  --spacing-12: calc(12 / 16 * 1rem);
  --spacing-16: calc(16 / 16 * 1rem);
  --spacing-18: calc(18 / 16 * 1rem);

  --c-text-h1: var(--c-stone-900);
  --c-text-h2-primary: var(--c-brown-800);
  --c-text-h2-secondary: var(--c-rose-800);
  --c-text-accent: var(--c-brown-800);
  --c-text-body: var(--c-stone-600);
  --c-body-bg: var(--c-stone-100);
  --c-article-bg: var(--c-white);
  --c-section-bg-secondary: var(--c-rose-50);
  --c-list-marker-primary: var(--c-brown-800);
  --c-list-marker-secondary: var(--c-rose-800);

  --ff-primary: var(--font-static-youngserif);
  --ff-secondary: var(--font-static-outfit);

  --fs-body: var(--fs-12);
  --fs-h1: var(--fs-24);
  --fs-h2-primary: var(--fs-20);
  --fs-h2-secondary: var(--fs-14);
  --fs-ol-marker: var(--fs-12);

  --fw-h1: var(--fw-regular);
  --fw-h2-primary: var(--fw-regular);
  --fw-label: var(--fw-bold);
  --fw-table-header: var(--fw-regular);
  --fw-table-data: var(--fw-semi-bold);
  --fw-ol-marker: var(--fw-medium);
}

@supports (font-variation-settings: normal) {
  :root {
    --ff-secondary: var(--font-variable-outfit);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  line-height: 1.5;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  color: var(--c-text-body);
  background-color: var(--c-body-bg);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.recipe__container {
  background-color: var(--c-article-bg);
}

.recipe__image {
  height: auto;
}

.intro__title,
.section__title {
  font-family: var(--ff-primary);
}

.intro__title {
  color: var(--c-text-h1);
  font-weight: var(--fw-h1);
  font-size: var(--fs-h1);
}

.section--secondary {
  background-color: var(--c-section-bg-secondary);
}

.section__title {
  color: var(--c-text-h2-primary);
}

.section__title--font {
  font-family: var(--ff-secondary);
}

.section__title--secondary {
  color: var(--c-text-h2-secondary);
}

.section__title--sm {
  font-size: var(--fs-h2-secondary);
}

.section__title--lg {
  font-size: var(--fs-h2-primary);
}

.section__title--fw-regular {
  font-weight: var(--fw-h2-primary);
}

/*
  Unordered list style
  Need to include role="list" to the <ul> as the list-style value of none
  break the accessibility in Safari.
*/
.section__item--primary {
  color: var(--c-list-marker-primary);
}

.section__item--secondary {
  color: var(--c-list-marker-secondary);
}

.section__list--ul-none {
  list-style: none;
}

.section__list--pis-md {
  padding-inline-start: var(--spacing-18);
}

.section__item--ul-li-relative {
  position: relative;
}

.section__item--pis-2xs {
  padding-inline-start: var(--spacing-10);
}

/* Marker positioning */
.section__list .section__item--ul-li-feat::before {
  content: "•";
  font-family: var(--ff-secondary);
  position: absolute;
  left: calc(var(--spacing-12) * -1);
  top: 50%;
  transform: translateY(-50%);
  /* translate: 0 -50%; */
}

/* Alternative marker positioning */
/* .section__list .section__item--ul-li-feat::before {
  content: "•";
  font-family: var(--ff-secondary);
  position: absolute;
  align-self: center;
  inset: 0;
  left: calc(var(--spacing-12) * -1);
} */

.section__item-content--color-default {
  color: var(--c-text-body);
}

/*
  Alternative unordered list style
  Need to include role="list" to the <ul> and role="listitem" to the <li>
  as the flexbox break the accessibility
*/
/* .section__list--pis-3xs {
  padding-inline-start: var(--spacing-6);
}

.section__item--flex {
  display: flex;
  align-items: center;
  gap: var(--spacing-18);
}

.section__item--flex::before {
  content: "•";
} */

/*
  Ordered list style to solve the issue on font-family not working on
  the '1' number marker, in this case Outfit font is sans-serif but
  the '1' number marker is showing serif instead.
*/
.section__list--pis-sm {
  padding-inline-start: var(--spacing-16);
}

.section__item--pis-xs {
  padding-inline-start: var(--spacing-12);
}

/*
  Modified ordered list marker for older or modern browser.
  Need to include role="list" to the <ol> as the list-style value of none
  break the accessibility in Safari.
*/
.section__list--list-none {
  list-style: none;
  counter-reset: count;
}

.section__item--relative {
  counter-increment: count;
  position: relative;
}

.section__list .section__item--features::before {
  content: counter(count) ". ";
  font-family: var(--ff-secondary);
  position: absolute;
  left: calc(var(--spacing-12) * -1);
  color: var(--c-list-marker-primary);
  font-weight: var(--fw-ol-marker);
}

.section__list .section__item--features:first-child::before {
  left: calc(var(--spacing-10) * -1);
}

/*
  Alternative method for modifying ordered list marker for modern browser.
  No need to include role="list" to the <ol>.
*/
/* .section__list .section__item--features::marker {
  font: var(--fw-ol-marker) var(--fs-ol-marker) var(--ff-secondary);
  color: var(--c-list-marker-primary);
} */

.section__label {
  font-weight: var(--fw-label);
}

.table__header {
  font-weight: var(--fw-table-header);
}

.table__data {
  color: var(--c-text-accent);
  font-weight: var(--fw-table-data);
}
